:root {
  --background: #020817;
  --foreground: #f8fafc;
  --primary: #3b82f6;
  --primary-foreground: #0f172a;
  --secondary: #1e293b;
  --muted-foreground: #94a3b8;
}

.light {
  --background: #ffffff;
  --foreground: #020817;
  --primary: #2563eb;
  --primary-foreground: #f1f5f9;
  --secondary: #f8fafc;
  --muted-foreground: #64748b;
}
