#switch {
  position: absolute;
  top: 3rem;
  right: 3rem;

  width: 7.2rem;
}

#switch #switch-button {
  width: 3.6rem;
  height: 3.6rem;

  border: 1px solid var(--primary-foreground);
  border-radius: 50%;

  background-color: var(--secondary);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;

  transform: translateY(-50%);

  animation: 0.3s slide-back forwards;
}

#switch #switch-button:hover {
  outline: 0.8rem solid #ffffff4d;
}

.light #switch #switch-button {
  animation: 0.3s slide-in forwards;
}

#switch #switch-button #switch-button-icon {
  font-size: 1.8rem;
}

#switch #switch-track {
  display: block;

  width: 7.2rem;
  height: 3rem;

  background-color: var(--muted-foreground);

  border: 1px solid var(--foreground);
  border-radius: 999.9px;
}
